USE [master]
GO
/****** Object:  Database [AgroTech]    Script Date: 29/05/2026 16:16:20 ******/
CREATE DATABASE [AgroTech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroTech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AgroTech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgroTech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AgroTech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroTech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroTech]
GO
/****** Object:  Table [dbo].[Agricultor]    Script Date: 29/05/2026 16:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agricultor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NULL,
	[Usuario] [nvarchar](150) NOT NULL,
	[Contrasena] [nvarchar](500) NOT NULL,
	[Rol] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alerta]    Script Date: 29/05/2026 16:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[Detalle] [nvarchar](max) NULL,
	[Fecha] [datetime] NULL,
	[AgricultorId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cultivo]    Script Date: 29/05/2026 16:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cultivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturas]    Script Date: 29/05/2026 16:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hora] [nvarchar](50) NOT NULL,
	[Humedad] [int] NOT NULL,
	[Temperatura] [decimal](5, 2) NULL,
	[NivelTanque] [decimal](5, 2) NULL,
	[ZonaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrediccionIA]    Script Date: 29/05/2026 16:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrediccionIA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[ProbabilidadEstres] [decimal](5, 2) NULL,
	[CultivoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiegoAutomatico]    Script Date: 29/05/2026 16:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiegoAutomatico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Parametros] [nvarchar](max) NULL,
	[Estado] [nvarchar](20) NULL,
	[CultivoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sensor]    Script Date: 29/05/2026 16:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[ValorActual] [decimal](5, 2) NULL,
	[FechaLectura] [datetime] NULL,
	[Nombre] [nvarchar](100) NULL,
	[Ubicacion] [nvarchar](150) NULL,
	[ValorCalibracion] [decimal](5, 2) NULL,
	[AgricultorId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zonas]    Script Date: 29/05/2026 16:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zonas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[SensorId] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Humedad] [int] NULL,
	[AgricultorId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agricultor] ADD  DEFAULT ('Usuario') FOR [Rol]
GO
ALTER TABLE [dbo].[Alerta] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD FOREIGN KEY([AgricultorId])
REFERENCES [dbo].[Agricultor] ([Id])
GO
ALTER TABLE [dbo].[Lecturas]  WITH CHECK ADD FOREIGN KEY([ZonaId])
REFERENCES [dbo].[Zonas] ([Id])
GO
ALTER TABLE [dbo].[PrediccionIA]  WITH CHECK ADD FOREIGN KEY([CultivoId])
REFERENCES [dbo].[Cultivo] ([Id])
GO
ALTER TABLE [dbo].[RiegoAutomatico]  WITH CHECK ADD FOREIGN KEY([CultivoId])
REFERENCES [dbo].[Cultivo] ([Id])
GO
ALTER TABLE [dbo].[Sensor]  WITH CHECK ADD  CONSTRAINT [FK_Sensor_Agricultor] FOREIGN KEY([AgricultorId])
REFERENCES [dbo].[Agricultor] ([Id])
GO
ALTER TABLE [dbo].[Sensor] CHECK CONSTRAINT [FK_Sensor_Agricultor]
GO
ALTER TABLE [dbo].[Zonas]  WITH CHECK ADD FOREIGN KEY([AgricultorId])
REFERENCES [dbo].[Agricultor] ([Id])
GO
USE [master]
GO
